[defaults]
inventory = ./inventories
roles_path = ./roles
interpreter_python = auto_silent
callbacks_enabled = profile_roles
stdout_callback = ansible.builtin.default
result_format = yaml
inventory_ignore_patterns = files/*
vars_plugins_enabled = host_group_vars,community.sops.sops